<!DOCTYPE html>
<html>
<head>
  <title>BBB</title>
  <meta charset="utf-8"/>
</head>
<body>
  <h1>HElloGGG{{ my_cash }}!222!{{ user_name }}!%&&&%!{{my_product}}</h1>
  <h2>Your products</h2>
  {% for product in my_product %}
  <tr>
    <td><img src="{{product.image}}" alt="{{product.name}}" height="120"></td>
    <br>
    <td><br>name {{product.articl}} cost {{product.cost}} <br>articl {{one_product.articl}}</td>
    <br>
  </tr>
  {% endfor %}
  <form method = "POST"/>
    {% csrf_token %}
  <table>
    {{ form }}
  </table>
</body>
</html>
