<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>POTRAVINY</title>
  <meta charset="utf-8"/>
  <link href="{% static "css\style.css" %}" rel="stylesheet"/>
</head>
<body class="potraviny-shop-theme-image">
  <h1 class="default-text">Hola {{ user_name }}</h1>
  <h3 class="default-text-2">Please choise the product</h3>
  <button onclick="window.location.href='{{ user_id }}/my_office'" class="blue-button" style="position: absolute; top: 10px;" type="button">My office Potraviny</button>
  <button onclick="window.location.href='../'" class="red-button" style="position: absolute; top: 10px; left: 200px;" type="button">EXIT</button>
  <br>
  <br>
  <form method="POST">
    {% csrf_token %}
    {% for one_product in all_products %}
    <tr>
      <td><img src="{{one_product.image}}" alt="{{one_product.name}}" height="120"></td>
      <br>
      <td><br>name {{one_product.name}} cost {{one_product.cost}} <br>articl {{one_product.articl}}</td>
      <br>
      <select multiple name="my_product" size="1">
        <option>{{one_product.articl}}</option>
      </select>
      <br>
    </tr>
    {% endfor %}
    <input type="submit" value="Add selected" class="green-button">
    <button onclick="window.location.href='{{ user_id }}/back_form/'" class="blue-button" type="button">Proceed to checkout</button>
  </form>
</body>
</html>
