<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Settings All</title>
  <meta charset="utf-8"/>
  <link href="{% static "css\style.css" %}" rel="stylesheet"/>
</head>
<body class="add-product-money-theme-image">
  <h1 class="default-text-2" style="color: purple">Admin{{user_name}}, welcome to all settings for shop potraviny</h1>
  <button onclick="window.location.href='../../../../../potraviny_shop/{{user_id}}'" class="green-button" type="button">GO HOME</button><br>
  <form method="POST">
    {% csrf_token %}
  <table>
    {{ userform }}
  </table>
  <input type="submit" value="Send" class="blue-button">
  </form>
  <h2>{{ messange }}</h2>
</body>
</html>
