<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Product Delete</title>
  <meta charset="utf-8"/>
  <link href="{% static "css\style.css" %}" rel="stylesheet"/>
</head>
<body class="delete-product-user-theme-image">
  <button onclick="window.location.href='../../../../../potraviny_shop/{{user_id}}'" class="green-button" type="button">GO HOME</button><br>
  <form method="POST">
    {% csrf_token %}
    <table>
      {{ user_form }}
    </table>
    <input type="submit" value="Delete" class="red-button" style="position: absolute; left: 25px">
  </form>
</body>
</html>
